b2b_saas_dbt:
  target: dev

  outputs:
    dev:
      type: bigquery
      method: oauth
      project: "{{ env_var('GCP_PROJECT_ID') }}"
      dataset: analytics_dev
      location: EU
      threads: 4

    prod:
      type: bigquery
      method: oauth-secrets
      project: "{{ env_var('GCP_PROJECT_ID') }}"
      dataset: analytics
      location: EU
      threads: 8
      impersonate_service_account: "{{ env_var('DBT_PROD_SA') }}"

    ci:
      type: bigquery
      method: oauth
      project: "{{ env_var('GCP_PROJECT_ID') }}"
      dataset: analytics_ci
      location: EU
      threads: 4
